

  .sidebar {
    width: 0;
    height: 100vh;
    /* background-color: rgb(245, 182, 195); */
    background-color: rgb(172, 170, 170);
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    z-index: 999;
  }

  .sidebar.open {
    width: 70px;
  }

  .sidebar.closed {
    width: 0;
  }

  .sidebar-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  /* تنسيق الأيقونات داخل السايدبار */
  .sidebar-icon {
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  /* التأثير عند المرور على الأيقونة */
  .sidebar-icon:hover {
    color: #007bff;
  }

  /* اللون عندما تكون الأيقونة نشطة */
  .sidebar-icon.active {
    color: #5b3cc4;
  }

  /* التنسيق للصور الشخصية */
  .sidebar-avatar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  /* زر البرجر */
  .burger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    /* margin-top: 10px; */
    margin: 10px;
    
  }

  .dark-mode {
    background-color: #333;
    color: #f1f1f1;
  }

  .dark-mode .sidebar {
    background-color: #444;
  }

  .dark-mode .sidebar .sidebar-icons .sidebar-icon {
    color: #f1f1f1;
  }

  .dark-mode .sidebar .sidebar-icon.active {
    color: #ffcc00;
  }

  .burger-menu.dark {
    color: #fff;
  }

  .burger-menu.light {
    color: #000;
  }

  @media (max-width: 768px) {
    .burger-menu {
      display: block;
    }

    .sidebar.open {
      width: 70px;
      background-color: #007bff7e;
    }

    .sidebar.closed {
      width: 0;
    }
  }.sidebar-icon-wrapper {
    position: relative;
    width: 100%;
  }
  
  .sidebar-dropdown {
    display: none;
  }
  
  .sidebar-dropdown.show {
    display: block;
  }
  
 